* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* overflow-x: hidden; */
}

li a {
  font-size: 1.2rem;
  font-weight: 600;
}

.pt-[5rem] {
  overflow-y: hidden;
}

.borders {
  border-width: 3px;
  /* Set your desired border width */
  border-style: solid;
  border-image: linear-gradient(to right, #ff9a9e, #fad0c4);
  /* Define your gradient colors */
  border-image-slice: 1;
  border-radius: 20px;
}

.border-animation {
  border-width: 2px;
  border-style: solid;
  border-image-slice: 1;
  border-radius: 20px;
  animation: borderAnimation 3s infinite ease-in-out;
}

@keyframes borderAnimation {
  0% {
    border-color: #8cace1;
  }

  50% {
    border-color: #f5da6c;
  }
  75% {
    border-color: #ff9a9e;
  }

  100% {
    border-color: #e97eea;
  }
}

.navli a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2px;
}

.navli a:hover {
  color: #f5da6c;
  transition: 0.3s;
  animation: anim2 500ms ease-in-out;
}

@keyframes anim2 {
  0% {
    opacity: 1;
    transform: translateY(px);
  }
  25% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.testimonials-slider:hover {
  border: 2px solid #f5da6c;
}

.running-line li a {
  position: relative;
}

.running-line li a:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #FFA500; /* Change color as needed */
  animation: running-line 1s infinite;
}

 
@keyframes running-line {
  0% {
    left: 0;
    width: 0;
  }
  50% {
    left: 0;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 0;
  }
}
